@import '_vars';
@import '_mixins';

.books-list {
    @include scrollbars(5px, $primary);
    @include sm {
        flex: 1;
    }
    @include print {
        background-color: $white;

        h1 {
            display: none;
        }
    }
    position: relative;
    background: #f5f5f5;
    overflow-y: auto;
    z-index: 1;

    .fade-bottom {
        @include print {
            display: none;
        }
        height: 150px;
        width: 100%;

        bottom: 0;
        left: 0;
        position: sticky;
        background: linear-gradient(rgba($white, 0), rgba($white, 0.9));
        pointer-events: none;
        z-index: 2;
    }
}