@import '_vars';

.book-card {
    @include sm {
        max-width: 90%;
    }
    @include print {
        margin: 0;
    }
    max-height: 500px;
    margin: 15px 25px;

    display: inline-flex;

    .left {
        padding-top: 10px;
        // flex: 2;

        img {
            @include print {
                max-height: 150px;
            }
            height: auto;
            max-height: 300px;
            max-width: 100%;
            object-fit: contain;

            border: 1px solid rgba($black, 0.17);
        }
    }

    .right {
        padding: 0 15px;
        flex: 1;
        flex-direction: column;

        .title {
            font-size: 34px;
            font-style: italic;
            font-weight: 500;
            display: block;
        }

        .author {
            margin-right: 15px;
            color: rgba($black, 0.7);
        }

        .blurb {
            margin: 15px 0;
            font-size: 14px;
        }
    }
}