@import '_vars';
@import '_mixins';


h1 {
    @include black-italic-900;
    margin-bottom: 0;
}

.btn {
    @include flex-center;
    height: 50px;
    min-width: 130px;
    max-width: 150px;

    text-transform: uppercase;

    color: $white;
    background-color: $primary;
    transition: background-color 0.4s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: rgba($primary, 0.7);
    }
}

.error-message {
    margin: 0 auto;
    line-height: 25px;
    font-size: 14px;
    font-style: italic;
    color: $primary;
}