@import '_vars';
@import '_mixins';

.header {
    @include flex-center;
    @include print {
        display: none;
    }
    padding: 0 25px;
    height: 70px;

    background-color: $white;
    border-bottom: 1px solid rgba($black, 0.1);
    position: relative;

    justify-content: flex-start;

    .logo {
        margin-top: 5px;
        height: 50px;
        object-fit: contain;
    }
}