@import '_vars';
@import '_mixins';


.header {
    @include flex-list;
    @include flex-center;
    @include print {
        .portal, p {
            display: none;
        }
    }
    flex: 1;

    .portal {
        max-height: 230px;
        margin: -40px;
        object-fit: contain;
    }
}
