@import '_vars';
@import '_mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import '_common';
@import '_logo';
@import '_book-card';
@import '_search-bar';
@import '_books-list';
@import '_loading';


html,
body {
    @include flex-center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;

    background: $white;
}

a,
a:hover,
a:visited,
a:focus,
a:active {
    color: #000000;
    text-decoration: none;
}

#root {
    @include flex-center;
    @include sm {
        @include flex-list;
    }
    @include md {
        @include flex-list;
    }
    @include lg {
        @include flex-row;
        overflow: hidden;
    }
    @include xl {
        @include flex-row;
        overflow: hidden;
    }
    height: 100%;
    width: 100%;
    // @include flex-list;
}

.main {
    @include flex-list;
    flex: 1;
}

@include print {
    #root,
    .main {
        display: unset;
        overflow: unset;
    }

    .main {
        .book-card .left,
        .book-card .right .blurb {
            display: none;
        }
    }
}